@use '../abstracts' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  &--primary {
    position: relative;
    margin-top: 3rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    min-width: 12rem;
    height: 4rem;
    background-color: $red;
    color: $white;
    font-size: 1.5rem;

    &::before {
      content: '';
      position: absolute;
      border: 2px solid $black;
      border-radius: 0.5rem;
      width: 95%;
      height: 95%;
      z-index: -1;
      transform: translate(-0.5rem, 0.5rem);
    }

    &:hover,
    &:active {
      top: 0.5rem;
      right: 0.5rem;

      &::before {
        transform: translate(0, 0);
      }
    }
  }

  &--menu {
    width: 2rem;
    height: 2rem;
    z-index: 9999;

    @include desktop {
      display: none;
    }
  }

  &--active {
    .btn__icon {
      stroke: $red;
    }
  }

  &__icon {
    stroke: $black;
    width: 100%;
  }
}
