@use '../abstracts' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  &--menu {
    width: 2rem;
    height: 2rem;
    z-index: 9999;

    @include desktop {
      display: none;
    }
  }

  &--active {
    .btn__icon {
      stroke: $red;
    }
  }

  &__icon {
    stroke: $black;
    width: 100%;
  }
}
