@use '../abstracts' as *;

h1 {
  width: 100%;
  margin-bottom: 1rem;
  color: $black;
  font-weight: 900;
  @include fluid-type(320px, 1440px, 3.5rem, 6rem);

  @include desktop {
    font-size: 6vw;
  }
}

.subheading {
  color: $gray;
  font-size: 1.5rem;
}

.heading-box {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 60%;
    width: 110%;
    z-index: -1;
    top: -0.5rem;
    right: 0;
    background-color: $red;
  }
}
