@use '../abstracts/mixins' as *;

.container {
  position: relative;
  padding: 2rem 1rem;
  min-height: 100%;
  width: 100%;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 2rem 4rem;
  }
}
