@mixin tablet() {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin fluid-type($min-width, $max-width, $min-font-size, $max-font-size) {
  & {
    font-size: $min-font-size;
    @media (min-width: $min-width) {
      font-size: calc(
        #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
          ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
      );
    }
    @media (min-width: $max-width) {
      font-size: $max-font-size;
    }
  }
}
